<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scs.kafakasync.com.scs.mapper.EventMapper">
    <insert id="insertEvent">
        insert into event(msgId, body, messge_status, creat_time, send_time, update_time, topic)
        values (#{msgID}, #{body}, #{messageStatus}, #{creatTime}, #{sendTime}, #{updateTime}, #{topic});

    </insert>
    <update id="updateEventStatus">
        update event
        set messge_status=#{messageStatus},
            update_time=#{updateTime},
            topic=#{topic}
        where msgId = #{msgID}
    </update>
    <select id="findNotSuccessful" resultType="com.scs.kafakasync.com.scs.entity.MQEvent">
        select *
        from event
        where messge_status!=1
    </select>
    <select id="findFailureMessage" resultType="com.scs.kafakasync.com.scs.entity.MQEvent">

        select *
        from event
        where messge_status =4;


    </select>


</mapper>